.device_even
{
    text-shadow: white 0 1px 0;
    background-color: #b0b0b0;
    border-radius:    10px;
    margin:            5px;
    padding:          10px;
    border: 2px inset #a0a0a0;
}

.device_odd
{
    text-shadow: white 0 1px 0;
    background-color: #d0d0d0;
    border-radius:    10px;
    margin:            5px;
    padding:          10px;
}

.device_even_paired
{
    text-shadow: white 0 1px 0;
    background-color: #b0ffb0;
    border-radius:    10px;
    margin:            5px;
    padding:          10px;
    border: 2px inset #a0a0a0;
}

.device_odd_paired
{
    text-shadow: white 0 1px 0;
    background-color: #d0f0d0;
    border-radius:    10px;
    margin:            5px;
    padding:          10px;
}

.addr
{
    font-family: Courier;
    text-align: center;
    margin: 2px;
}

.name
{
    font-family: Arial;
    text-align: center;
    margin: 2px;
}

.statusPeerName1
{
    border: 1px solid red;
    margin-left: auto;
    margin-right: auto;
}

.statusPeerName
{
    height: 32px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    line-height: 32px;
}

