.forecast
{
    background: #f0f0f0;
    border-radius:    10px;
    margin:            5px;
    border: 2px outset #909090; 
}

.saturday
{
    background: #f0d0d0 !important;    
}

.sunday
{
    background: #f0a0a0 !important;    
}

.odd
{
    background: #d0d0d0 !important;    
}

.future
{
   margin-bottom: .5em;
}
